.spanCol {
  display: flex;
  align-items: center;
}

.treeInner {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
}



.nameText {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 4px;
  --bgC: transparent;
  --bdC: #bd7e00;
  background-color: var(--bgC);
}

.nameText[data-last-clicked="true"] {
  color: #3568f0;
  font-weight: 600;
}

.nameText[data-mark="true"] {
  --bgC: #fbdda7;
  --bdC: #bd7e00;
  padding: 4px 8px;
}

:global(summary[data-error="true"]) .nameText[data-mark="true"] {
  --bgC: #ffa9a7;
  --bdC: #d7312a;
}

.nameText[data-watching="true"] {
  border-color: var(--bdC);
}

.timeHead {
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
}

.timeCol {
  height: 100%;
  position: relative;
  font-variant-numeric: tabular-nums;
  overflow: hidden;
}

.metaCol {
  color: #1d232c;
  font-size: 0.98rem;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
