---
import type { RowRenderProps } from "./types";

const {
  node,
  rowVars,
  isNearEnd,
  formatDuration,
  formatStartTime,
} = Astro.props as RowRenderProps;
---

<div class="spanRow">
  <div class="spanCol">
    <span class="rowConnector">
      <span class:list={["nameText", { pill: node.pill, link: node.link }]}>
        {node.name}
      </span>
    </span>
  </div>

  <div class="timeCol" style={rowVars}>
    <span class="timelineSpan"></span>
    <span class:list={["durationText", { "from-right": isNearEnd }]}>
      {formatDuration(node.duration)}
    </span>
  </div>

  <time class="startCol">{formatStartTime(node.start)}</time>
</div>
